/* import font family */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Kanit', sans-serif;
}

/* header small screen */
header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    z-index: 9;  
}
/* logo */
#logo .logo {
    margin-left: 1rem;
    width: 200px;

}
.berger {
    margin-right: 1rem;
    text-align: center;
    font-size: 1.5rem;
    display: block;
    color: #2D4554;
    cursor: pointer;
}

/* nav small screen */
nav {
    position: absolute;
    border: solid;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #001D2F;
    transform: translateY(-100%);
    transition: all .5s;
    height: 50vh;
    opacity: 0.10;
    z-index: -1;
}
.nav-bar {
    border: red;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 3rem;
   
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.list-items {
    width: 100%;
}

li.item a {
    text-decoration: none;
    display: block;
    font-size: 1.2rem;
    color: #2D4554;
    padding: .7rem 1rem;
    letter-spacing: 1px;
    transition: all .3s ease-in;
}
.item a:hover {
    letter-spacing: 3px;
    color: #fff;
    background-color: #009EE0;
}

/* ShowNavbar */
.show-nav {
    box-shadow: 2px 4px 5px rgb(26, 25, 25);
    opacity: 90;
    transform: translateY(40%);
}

/* Showcase */
.showcase {
    background: linear-gradient(
    rgba(122, 145, 246, 0.452),
    rgba(146, 162, 251, 0.602),
    rgba(142, 168, 255, 0.5)),
    url(/images/WEBSITE-B2B-HOME-BG.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    text-align: center;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -9;
}
/* Sections container */
.container {
    width: 90%;
    position: relative;
}

/* lamp grey */
.light-lamp {
    position: absolute;
    width: 100px;
    top: -400px;
    right: 3px;
    z-index: 0;
    transition: all .5s ease-in, transform 1s ease-in-out;
}
img.lamp-grey {
    display: block;
    width: 80px;
}
/* main text */
.main-text {
    padding-top: 5rem;
}
.main-text h1 {
    letter-spacing: 2px;
    font-size: 2rem;
}
.main-text h3 {
    font-size: 1.4rem;
    font-weight: lighter;
    letter-spacing: 1px;
}
span.txt-color {
    color: #009EE0;
}
.main-text p {
    padding: 1rem 2rem;

}
/* button */
button {
    border: none;
    cursor: pointer;
    border-radius: 20px;
    background-color:  #009EE0;
    transition: all .5s ease-in;
    outline: none;
}
.btn-read {
    margin-top: 1rem;
}
button a {
    text-decoration: none;
    display: block;
    padding: 1rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    letter-spacing: .5px;
    transition: all .3s ease-in;
}
button:hover {
    background-color:  #009de0a4;
}
button a:hover {
    color: #0e3742;
}

/* desktop */
.desktop-img {
    margin: 0 auto;
    padding-top: 2rem;
    width: 80%;
    text-align: center;
}
.desk {
    display: block;
    margin: 0 auto;
    width: 90%;
}
/** End of Showcase **/

/* all images */
img {
    display: block;
}

/* Dark Section */
.dark-section {
    background:
    url(/images/WEBSITE-B2B-HOME-02.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    text-align: center;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container.dark {
    display: flex;
    justify-content: space-around;
    height: 70vh;
    margin-top: 5rem;
    padding-bottom: 1rem;
    align-items: flex-end;
}
/* block pic */
.block-pic {
    width: 100%;
}
/* telephone dark */
.block-pic img {
    width: 100px;
}
.block-pic .table {
    height: 100%;
}
img.table {
    width: 180px;
    height: 30vh;
}
img.telephone {
    width: 120px;
    height: 20vh;
    margin-bottom: 2rem;
}
img.cameleon {
    margin-left: 2rem;
    margin-bottom: 2rem;
}
/* Dark lamp */
.lamp-dark {
    position: absolute;
    width: 100px;
    top: -44px;
    right: 35px;
    z-index: 1;
    transition: all .5s ease-in, transform 1s ease-in-out;
}
img.lamp-dark {
    display: block;
    width: 80px;
}
/** End Dark Section **/

/** lighting Section **/
.lighting {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.light-text {
    z-index: 99;
    padding: .5rem;
    margin: 9rem 0 8rem 0;
}
.light-text h1{
    font-size: 2rem;
    letter-spacing: 1px;
    color: #FFFF00;
}
.light-text h3 {
    font-size: 1.5rem;
    font-weight: lighter;
    letter-spacing: 1px;
    color: #f1f1f1;
}
.light-text p {
    color: #f1f1f1;
}
/* span idea */
span.idea img {
    display: inline;
    width: 30px;
}

/* lamp on */
.lamp-on img {
    top: -21px;
    width: 81px;
    z-index: 2;
}

/* SHADOW */
.lamp-shadow {
    position: absolute;
    bottom: -5px;
    right: -65px;
    height: 35vh;
    width: 400px;
    opacity: 0.5;
    animation: shadow 5s linear infinite;
}

/* Light effect */
.lighter {
    position: absolute;
    z-index: 1;
    font-size: 10rem;
    top: 51%;
    right: 36px;
    color: #0e3742;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
    line-height: 0.1em;
    outline: none;
    animation: light 5s linear infinite;
}
.lighter p {
    font-size: 7rem;
    font-weight: 500;
    letter-spacing: -41px;
    transform: rotateZ(180deg);
}
/** KEYFRAMES **/
@keyframes shadow {
    0%{
        opacity: 0.2;
    }
    100% {
        opacity: 0.4;
    }
}
@keyframes spot {
    0%{
        opacity: 0.1;
    }
    100% {
        opacity: 0.5;
    }
}
@keyframes light {
    0%
    {
        color: #0e3742;
        text-shadow: none;
    }
    100%
    {
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4;   
    }
}
/*** TEST LIGHT SECTION ***/
.spot-light {
    position: absolute;
    right: -23px;
    top: 285px;
    opacity: 0.3;
    animation: spot 5s linear infinite;
}
img.spot {
    height: 52vh;
    width: 200px;
}

/* Footer */
footer {
    height: 20vh;
    background-color: #001D2F;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-content {
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
}



/* Media query larger screen at 740px */
@media screen and (min-width: 740px){
    
    /* lamp grey */
    .light-lamp {
        right: 50px;
    }
    /* lamp on */
    .lamp-on img {
        top: -28px;
        right: 50px;
        width: 81px;
        z-index: 2;
    }
    /* Light effect */
    .lighter {
        right: 51px;
    }
    .spot-light {
        right: -10px;
    }
    img.spot {
        height: 52vh;
        width: 200px;
    }

    /* SHADOW */
    .lamp-shadow {
        bottom: -10px;
        right: -65px;
        height: 35vh;
    }
    /* TABLE */
    img.table {
        margin-left: 2rem;
        height: 35vh;
       
    }
    /* CAMELEON */
    img.cameleon {
        margin-left: 8rem;
    }
    .light-text {
        z-index: 99;
        padding: .5rem;
        margin: 9rem 0 8rem 0;
    }

}


/* Media query larger screen at 900px */
@media screen and (min-width: 900px){

    /* nav */
    .berger {
        margin-right: 5rem;
    }
    #logo .logo {
        width: 220px;
        margin-left: 5rem;
    }
    /* lamp grey */
    .light-lamp {
      right: 100px;
      top: -250px;
    }
    /* lamp on */
    .lamp-on img {
        top: -28px;
        right: 50px;
        width: 81px;
        z-index: 2;
    }
    nav {
        height: 70vh;
    }
    .nav-bar {
        margin-top: 1.5rem;
    }
    ul.list-items{
        padding: 5rem 0;
    }
    li.item a {
        font-size: 2rem;
    }
    /* showcase */
    .showcase {
        height: 80vh;
    }
    /* container */
    .container.hero {
        display: grid;
        width: 90%;
        height: 90vh;
        grid-template-columns: 1fr 1fr;
    }
    .main-text {
        width: 100%;
        padding-left: 2rem ;
        text-align: left;
        margin-top: 15rem;
    }
    .main-text h1 {
        font-size: 2.1rem;
    }
    .main-text p {
        padding: 1rem 0;
        line-height: 1.3rem;
    }
    .desktop-img { 
        width: 100%;
        margin-top: 15rem;
    }
    .desk {
        margin-top: 8rem;
        width: 100%;
        height: 35vh;
    }
    /*DARK SECTION*/
    .container.all {
        height: 80vh;
        width: 85%;
    }
    /* block pic */
    .block-pic {
        width: 100%;
        margin-bottom: 2rem;
    }
    /* dark pics */
    .block-pic .table {
        margin: 0;
        padding: 0;
        width: 220px;
    }
    img.table {
        height: 32vh;
    }
    img.telephone {
        height: 22vh;
        width: 120px;
        margin-bottom: 2rem;
    }
    img.cameleon {
        width: 110px;
        display: inline;
        margin-left: 8rem;
        margin-bottom: 2rem;
    }
    /* Dark lamp */
    .lamp-dark {
        position: absolute;
        width: 100px;
        top: -44px;
        right: 35px;
        z-index: 1;
        transition: all .5s ease-in, transform 1s ease-in-out;
    }
    .light-text {
        width: 100%;
        padding: 0;
        margin: 15rem 0 0 0;
        text-align: left;
    }
    span.idea img {
        width: 40px;
    }
    .light-article {
        width: 60%;
        margin: 0 auto;
    }
     /* lamp on */
     .lamp-on img {
        top: -4px;
        right: 110px;
        width: 81px;
    }
    /* Light effect */
    .lighter {
        top: 380px;
        right: 112px;
    }
    .spot-light {
        right: 48px;
        top: 310px;
    }
    img.spot {
        height: 52vh;
        width: 210px;
    }
    .lamp-dark {
        top: -20px;
        right: 60px;
    }

    /* SHADOW */
    .lamp-shadow {
        bottom: 1px;
        right: -25px;
        height: 35vh;
    }

}

/* media query at 1200px */
@media screen and (min-width: 1200px) {

    /* showcase */
    .showcase {
        height: 100vh;
    }
    /* container */
    .container.hero {
        width: 85%;
        padding: 0;
        margin: 2rem 0 0 0;
        border: solid purple;
        height: 80vh;
        justify-content: center;
        align-items: flex-end;
    }
    .main-text {
        border: solid red;
        margin-bottom: 10rem;
        padding: 0;
    }
    .main-text h1 {
        font-weight: bold;
        font-size: 2.5rem;
    }
    .main-text h3 {
        font-size: 1.6rem;
    }
    .main-text p {
        font-size: 1.1rem;
        line-height: 1.5rem;
        letter-spacing: .5px;
    }
    .desktop-img { 
       border: solid yellow;
       padding: 0;
       margin: 0;
    }
    .desk {
        height: 40vh;
    }
}

/* media query at 1600px */
@media screen and (min-width: 1600px) {


    /* container */
    .container {
      width: 1200px;
      border: solid;
      height: 100vh;
    }
    .main-text {
      border: solid purple;
      margin-top: 23rem;


    }
    .desktop-img { 
     border: solid yellow;
     margin-top: 23rem;
    }
    .desk {
      height: 40vh;
    }
}